/* Импорт шрифта */
@import url('https://fonts.cdnfonts.com/css/friz-quadrata');

/* Стили для #map */
#map {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 40px;
    width: 100%;
    height: 100%;
    background: green url(../images/grass2.jpg);
    background-size: 70%;
}

/* Пустые стили для .unit и .source (добавьте стили при необходимости) */
.unit {}
.source {}

/* Стили для .hpBar */
.hpBar {
    position: absolute;
    top: 0px;
    height: 5px;
    background-color: red;
    z-index: 200;
}

/* Стили для .orkWarier */
.orkWarier {
    position: absolute;
    background: url(../images/test.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

/* Стили для .orkWorker */
.orkWorker {
    position: absolute;
    background: red url(../images/worker.jpeg);
    background-size: 100%;
}

/* Стили для .stone */
.stone {
    position: absolute;
    background: url(../images/stone.png);
    background-size: 100%;
}

/* Стили для .tree */
.tree {
    position: absolute;
    background: url("../images/дерево 5.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

/* Стили для .field */
.field {
    position: absolute;
    background: url(../images/field.png);
    background-size: 100%;
}

/* Стили для #topPanel */
#topPanel {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 40px;
    background: brown url(../images/stone_texture.jpg);
    display: flex;
    flex-direction: row-reverse;
    z-index: 100;
    font-family: "Friz Quadrata", sans-serif;
    font-size: 16px;
    color: whitesmoke;
}

/* Стили для #table */
#table {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 460px;
    height: 165px;
    background: brown url(../images/paper.jpg);
    z-index: 100;
    font-family: "Friz Quadrata";
    font-size: 16px;
    color: black;
}

/* Стили для .infoBlock */
.infoBlock {
    display: inline-block;
    margin-right: 10px;
    white-space: nowrap;
}

/* Стили для #hideChells */
#hideChells {
    position: fixed;
    left: 0px;
    top: 0px;
    padding: 10px 20px;
    font-size: 13px;
    font-family: 'Arial';
    background: brown url(../images/paper.jpg);
    z-index: 100;
}